<!-- BG START -->
<div class="top_background background_img"></div>
<!-- BG END -->


<!-- header START -->
<header class="header">
    <div class="center flex flex_row_justify flex_column_center">
        <div class="logo flex flex_column_center">
            <a href="index.html" class="logo_picture">
                <img src="images/public/logo1.png" alt="">
            </a>
            <div class="explain">
                <div class="explain_title">中国商标注册网商标中心</div>
                <div class="explain_desc">China trademark registration network trademark Center</div>
            </div>
        </div>


        <div class="header_info">
            <div class="header_info_top flex flex_row_end flex_column_center">
                <div class="header_info_time">2020年1月9日 星期四</div>
                <div class="header_info_language flex flex_column_center">
                    <a href="javascript:;" class="item">简</a>
                    <div class="line"></div>
                    <a href="javascript:;" class="item">EN</a>
                </div>
            </div>
            <div class="header_info_bottom flex flex_column_center flex_row_end">
                <div class="header_info_picture picture_container">
                    <img src="images/public/header01.png" alt="">
                </div>
                <div class="header_info_list">
                    <div class="item"><span class="dot"></span>中国商标注册正规备案单位</div>
                    <div class="item"><span class="dot"></span>中国知识产权专业律师团队服务</div>
                    <div class="item"><span class="dot"></span>争创知识产权代理机构客户满意品牌</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header END -->


<!-- nav START -->
<nav class="nav">
    <div class="center flex">
        <div class="item flex1">
            <a href="index.html" @@if (context.index==='active' ) { class='active' }>
                <span class="iconfont iconshouye"></span>
                <div class="explain">网站首页</div>
            </a>
        </div>
        <div class="item flex1">
            <a href="trademark.html" @@if (context.nav1==='active' ) { class='active' }>
                <span class="iconfont iconguonei"></span>
                <div class="explain">国内商标</div>
            </a>
        </div>
        <div class="item flex1">
            <a href="trademark_search.html" @@if (context.nav2==='active' ) { class='active' }>
                <span class="iconfont iconshangbiaochaxun"></span>
                <div class="explain">商标查询</div>
            </a>
        </div>
        <div class="item flex1">
            <a href="trademark_class.html" @@if (context.nav3==='active' ) { class='active' }>
                <span class="iconfont iconshangbiaoguanli"></span>
                <div class="explain">商标分类</div>
            </a>
        </div>
        <div class="item flex1">
            <a href="trademark_international.html" @@if (context.nav4==='active' ) { class='active' }>
                <span class="iconfont iconguoji"></span>
                <div class="explain">国际商标</div>
            </a>
        </div>
    </div>
</nav>
<!-- nav END -->



<!-- 公告 START -->
<section class="notice @@if(context.notice==='active' ){notice_distance}">
    <div class=" center flex flex_column_center">
        <div class="notice_title flex flex_column_center">
            <span class="iconfont icongonggao"></span>
            <div class="explain">公告：</div>
        </div>
        <div class="swiper-container swiper-no-swiping flex1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                    <a href="news-details.html" class="item">
                        <div class="dot">
                            <div class="inside_dot"></div>
                        </div>
                        <div class="explain">中国国家商标局正式备案代理机构</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 公告 END -->